.heading {
  margin: 0 auto;
}

.movies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.card {
  border-radius: 5px;
  margin: 10px;
  height: 450px;
}

.card-img-top {
  height: 250px;
}
